*{
    margin: 0px;
}
body{
    background-color: white;
    margin-top: -55px;
}
#body{
    background-color: white;
}
/* #Givenchy:hover{
    transition: 1s;
    color: red;
    font-family: arial;
} */
#header{
    background-color: lightblue;
    height: 7,5vh;
    border-bottom: dashed gainsboro 2px;
}
h1{
    text-align: center;
    margin: 0px;
    color: grey;
}
#profile{
    width: 50px;
}
#profile-picture{
    width: 90px;
    height: 50px;
}
#profile-picture:hover{
    border-radius: 500px;
    border: solid grey 5px;
}
#A-header{
    position: absolute;
    right: 0;
}
#button-group{
    float: left;
    position: absolute;
}
#eye{
    background-color: grey;
    color: lightblue;
    border: solid grey 3px;
    padding-bottom: 10px;
    width: 110px;
}
#eye:hover{
    background-color: lightblue;
    color: grey;
    transition: 1s;
}
#eye:active{
    background-color: red;
}
#img-eye{
    height: 20px;
    width: 20px;
    padding-left: 5px;
}
#tijd-button{
    background-color: grey;
    color: lightblue;
    border: solid grey 3px;
    width: 110px;
    padding-bottom: 10px;
}
#tijd-button:hover{
    background-color: lightblue;
    color: grey;
    transition: 1s;
}
#tijd-button:active{
    background-color: red;
}
#img-tijd{
    height: 20px;
    width: 20px;
    padding-left: 5px;
}
#webshop{
    background-color: grey;
    color: lightblue;
    border: solid grey 3px;
    width: 110px;
    padding-bottom: 10px;
    padding-top: 9px;
}
#webshop:hover{
    background-color: lightblue;
    color: grey;
    transition: 1s;
}
#webshop:active{
    background-color: red;
}
#img-webshop{
    height: 20px;
    width: 20px;
    padding-left: 5px;
}
#reseta{
    background-color: grey;
}
#reset:hover{
    background-color: lightblue;
}
#reset:active{
    background-color: red;
}
#reset-img{
    height: 20px;
    width: 20px;
}






nav{
    margin-top: 10px;
    margin-bottom: 10px;
}
#div1{
    width: 100px;
    display: inline;
}
.jaren{
    display: inline;
    background-color: lightblue;
    color: gray;
    width: 100px;
    margin-right: 15px;
    padding: 10px;
    transition: 1s;
    border: solid gray 3px;
}
.jaren:hover{
    display: inline;
    background-color: grey;
    color: lightblue;
    width: 100px;
    margin-right: 15px;
    padding: 10px;
    border: solid lightblue 3px;
    height: 100%;
    border-radius: 20px;
}
.jaren:active{
    background-color: red;
}
#div2{
    position: absolute;
    width: 100px;
    visibility: hidden;
}
.semesters{
    width: 75px;
    background-color: black;
    color: white;
}
.semesters:hover{
    background-color: white;
    color: black;
}
#div20{
    visibility: hidden;
    position: absolute;
    display: block;
}
#div21{
    visibility: hidden;
    position: absolute;
}
.opdrachten{
    width: 60px;
    background-color: gray;
    margin-left: 15px;
}
.opdrachten:hover{
    background-color: white;
}
.aaa{
    width: 75px;
    text-decoration: none;
    margin-left: 25px;
    background-color: white;
    color: black;
}
.aaa:hover{
    background-color: black;
}
a{
    text-decoration: none;
}
.exit{
    background-color: red;
    float: right;
    display: inline;
    width: 25px;
}
.exit1{
    background-color: orange;
    float: right;
    display: inline;
    width: 25px;
}
.exitx{
    background-color: salmon;
    display: inline;
    width: 100px;
    color: lightblue;
}
.niet-klaar{
    color: red;
}       











aside {
    overflow: hidden;
    transition: 1s;
    background-color: lightblue;
}
#ctrlBar {
    background-color: grey;
    color:white;
    padding: 10px;
}
.open{
    flex: 1;
}
.close{
    flex:0;
}


#main {
    font-family: "Comic Sans MS";
    flex: 1;
    display: flex;
    height: 80vh;
    border-top: solid gray 1px;
}
section {
    flex:3;
    opacity: 50%;
    font-size: 300%;
    text-align: center;
}

#tijd{
    font-size: 20px;
}
a{
    text-decoration: none;
}

/* #navBasisOpdrachten{
    background-color: grey;
    margin-top: -1000px;
    border: solid lightblue 5px;
}
#navFrontend{
    background-color: grey;
    margin-top: -1000px;
    border: solid lightblue 5px;
}
#navGames{
    background-color: grey;
    margin-top: -1000px;
    border: solid lightblue 5px;
} */
/* .klaar{
    background-color: green;
    color: white;
    border-radius: 0%;
} */
p{
    font-size: 20px;
}
.p-nav{
    height: 10px;
}

footer{
    height: 5vh;
    border-top: solid black 2px;
}

#logout{
    position: relative;
    float: right;
    display: inline;
    background-color: black;
    color: white;
    transition: 1s;
}
#logout:hover{
    background-color: white;
    color: black;
}
#logout1{
    color: white;
}
#logout1:hover{
    color: black;
}
#logout:active{
    background-color: red;
}
video{
    height: 100px;
    width: 100px;
}

#footer{
    background-color: gray;
    height: 15vh;
}
#titel{
    background-color: red;
    color: white;
    width: 100px;
    height: 100px;
}
#footer1{
    background-color: black;
    margin: auto;
    padding-top: 10px;
    height: 70px;
    width: 200px;
    visibility: hidden;
    z-index: 2;
    border-radius: 20px;
}
#titleinput{
    border: solid lightblue 3px;
    border-radius: 100px;
    margin: auto;
    display: block;
}
#titleknopp{
    margin: auto;
    display: block;
    border-radius: 20px;
}
#demoF{
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: red;
    padding-left: 20px;
}
#todo{
    color: gray;
    font-size: 12px;
}
#todo2{
    color: black;
    font-size: 15px;
}